<section class="block container">
    <h2 class="block__heading">Heading </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, aperiam!</p>
    <div style="width: 32%;padding:4rem">
        <div class="plan plan--popular">
            <div class="card card--secondary">
                <header class="card__header ">
                    Card title
                </header>
                <div class="card__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam necessitatibus quaerat laborum
                    porro illum, quis aliquid temporibus sit qui alias?
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, aperiam!</p>
    </div>
</section>